# --- Python ---
# Virtual environment folders
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# --- Large Files & Datasets ---
# Exclude all model weights. Use Git LFS for this if you MUST track them.
*.pth
*.pt
*.onnx
*.pb

# Others
