[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu128"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu128"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu128"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
pillow = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
